extends ../layouts/main-layouts.pug 

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main 
        form.product-form(action="/product" method="POST")
            .form-control
                label(for="title") Title of the product
                input(type="text", name="title") 

                label(for="imageUrl") Image URL
                input(type="text", name="imageUrl")

                label(for="price") Price
                input(type="number" step="0.01", name="price")

                label(for="desc") Decription
                textarea(name="desc", cols="30", rows="5")

                button(type="submit") Add Product